body{
    font: 15pt Arial;
}
header{
    color: gray;
    text-align: center;
}
section{
    background: gray;
    border-radius:10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align: center;
    font: 10pt Arial-black;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}